body {
	background-color:#666666;
	-webkit-background-size: 1024px 768px;
	-moz-background-size: 1024px 768px;
	-o-background-size: 1024px 768px;
	background-size: 1024px 768px;
}

#screen {
	position:fixed;
	top: 0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	opacity: 1;
}

#notification {
	background-color:#000000;
	border: 2px solid #dddddd;
	border-radius: 10px;
	color: #ffffff;
	padding: 4px 10px 1px 10px;
	font-size : 18px;
	font-style : bold;
	position:absolute;
	height:30px;
	top: -40px;
	right: 30px;
	opacity: 0.8;
}

#mainscreeninfo {
	background-color:#000000;
	color: #ffffff;
	border: 2px solid #5555CC;
	border-radius: 10px;
	padding: 4px 10px 1px 10px;
	font-size : 18px;
	font-style : bold;
	position:absolute;
	top: 10px;
	right: 20px;
	opacity: 0.7;
}


#mainscreenslider {
	color: #ffffff;
	background-color:#000000;
	border-top:2px solid #555555;
	border-bottom:2px solid #555555;
	position:absolute;
	overflow:hidden;
	font-size : 18px;
	font-style : bold;
	left : 0px;
	width: 5000px;
	height: 100px;
	bottom: -120px;
	opacity: 0.8;
}

#video_1 {
	position:absolute;
	width: 100%;
	height: 100%;
}

#notificationshort, #notificationlong {
	background-color:#222222;
	border-top: 2px solid #888888;
	border-radius: 2px;
	color: #cccccc;
	padding: 4px 10px 1px 10px;
	font-size : 20px;
	font-style : bold;
	position: absolute;	
	height:30px;
	top: -40px;
	right: 30px;
	opacity: 1;
}

#notificationshort #box {	
	width: 200px;
}


.mainsliderimg {
	width: 100px;
	height: 70px;
}

#mainscreencard {
	background-color:#000000;
	color: #ffffff;
	border: 2px solid #fff534;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	font-size : 18px;
	font-style : bold;
	position:absolute;
	top: 180px;
	bottom: 110px;
	left: 15%;
	right: 15%;
	opacity: 0.7;
	display: none;
}


#mainscreentitlecard {
	background-color:#000000;
	color: #ffffff;
	border: 2px solid #fff534;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	font-size : 18px;
	font-style : bold;
	position:absolute;
	top: 280px;
	bottom: 110px;
	left: 15%;
	right: 15%;
	opacity: 0.7;
	display: none;
}

.mainsliderblockactive {
	position:relative;
	background-color:#5555CC;
	font-size : 14px;
	font-style : bold;
	width: 100px;
	height: 70px;
	opacity: 1;
	padding: 3px 3px 3px 3px;
	float:left;
}

.mainsliderblockselected {
	position:relative;
	background-color:#fff534;
	font-size : 14px;
	font-style : bold;
	width: 100px;
	height: 70px;
	opacity: 1;
	padding: 3px 3px 3px 3px;
	float:left;
}

.mainsliderblock {
	position:relative;
	background-color:#222222;
	font-size : 14px;
	font-style : bold;
	width: 100px;
	height: 70px;
	opacity: 1;
	padding: 3px 3px 3px 3px;
	float:left;
}


#hello {/*TODO needed?*/ 
	top: 200px;
	left: 200px;
	height: 40px;
	width: 300px;
	background-color: #111;
}