<div id="mainScreenInfo" style="width:800px; position:absolute; left:80px; top:360px; background-color:rgba(255,255,255, 0.5);">
	<div id="mainScreenInfoWhere" style="width:700px;">
		<p id="whereName">/NAME</p><p id="whereContent">/CONTENT</p>
	</div>
	<div id="mainScreenInfoWhat" style="width:700px;">
		<p id="whatName">/NAME</p><p id="whatContent">/CONTENT</p>
	</div>
	<div id="mainScreenInfoWho" style="width:700px;">
		<p id="whoName">/NAME</p><p id="whoContent">/CONTENT</p>
	</div>
	<div id="mainScreenInfoChapter" style="width:700px;">
		<p id="chapterName">/NAME</p><p id="chapterContent">/CONTENT</p>
	</div>
</div>