<div id="scannQRCode" style="position:absolute; left:80px; top:40px; width:180px; overflow:hidden; display:inline; background-color:rgba(255,255,255, 0.5)">
	<a target="blank" href="http://a1.noterik.com/rbbhbbtv" id="link" style="position: relative; overflow:hidden;">
		<img alt="http://a1.noterik.com/rbbhbbtv" src="https://chart.googleapis.com/chart?cht=qr&chl=http://a1.noterik.com/rbbhbbtv&chs=180x180&choe=UTF-8&chld=L|2" style="width:180px; height:180px position:absolute">
		</img>
	</a>
	<p style="width:180px; position:relative; top:0px; color:black;">Scannnen Sie den QR-code</p>
</div>